:root {
  --primary: #219c90;
  --secondary: #e9b824;
  --ternary: #ee9322;
  --light: white;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: VAR(--dark);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

/* .content-wrap {
    margin-top: auto;
    
  } */

.backgroundTop {
  visibility: 80%;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundHeader {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  size: 100px;
  color: yellow;
}

.backgroundHeader h3 {
  margin-top: 60px;
  color: var(--secondary);
  font-style: italic;
  font-size: 3.67em;
}

.backgroundHeader h1 {
  margin-top: 20px;
  color: white;
  font-style: bold;
  font-size: 6.67em;
}

.homeimages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.homeimages H3 {
  color: var(--secondary);
}
.homeheading {
  align-items: center;
}

