.main-footer {
  color: Red;
  background-color: black;
  padding-top: 3em;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

li {
  text-decoration: none;
  display: block;
  text-align: center;
  color:pink;
}

.col-sm {
  text-align: center;
}
